<h1>{{title}}</h1>
<a href="{{webUrl}}">Home</a>
<h3>Word APIs</h3>
<h3>Create a word</h3>
<pre>
  POST
  {{webUrl}}/word
  example body:
  {
    "word_id": "police",
    "word": "police",
    "lexicalCategory": "Noun",
    "type": "headword",
    "ori_lang": "en-us",
    "tra_lang": "vi",
    "definitions": "the civil force of a national or local government, responsible for the prevention and detection of crime and the maintenance of public order",
    "shortDefinitions": "civil force for prevention of crime",
    "examples": "when someone is killed, the police have to be informed;the coroner will await the outcome of police inquiries",
    "phoneticNotation": "IPA",
    "phoneticSpelling": "pəˈlis",
    "audioFile": "https://audio.oxforddictionaries.com/en/mp3/police_us_1.mp3",
    "synonyms": "police force;police officers;policemen;policewomen;officers of the law;the forces of law and order;law enforcement officers;law enforcement agency",
    "phrases": "",
    "mean": "cảnh sát viên",
    "category": "62544d0758a5eae8a4932aa3",
    "level": "62543f58d912fc60e215d1e8"
  }
</pre>
<h3>Read all words</h3>
<pre>
  GET
  {{webUrl}}/word/all
</pre>
<h3>Read a word</h3>
<pre>
  GET
  {{webUrl}}/word/:id
</pre>
<h3>Update word</h3>
<pre>
  POST
  {{webUrl}}/word/update/:id
  example body:
  {
    "mean": "ét ô ét",
    "category": "62544d0758a5eae8a4932aa3",
    "level": "62543f58d912fc60e215d1e8"
  }
</pre>
<h3>Delete a word</h3>
<pre>
  GET
  {{webUrl}}/word/delete/:id
</pre>
<h3>Delete all words</h3>
<pre>
  GET
  {{webUrl}}/word/delete/all
</pre>
